<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redirecting...</title>
    <style>
        body{
          width: 1920px;
          height:1080px;
          background-position: center center;
          background-repeat: no-repeat;
          background: #e6ecf0;
          font-family: 'Roboto', sans-serif;
        }
      </style>
</head>
<body>
    <center>

        <h3>Cookies will be removed soon...</h3>

        <img src= "../static/img/cookie.png ">

    </center>
    <script>
        setTimeout( 'location="/login";', 2000 );
    </script>
</body>
</html>