<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twutter Sign In</title>
    <style>
        body{
          width: 1920px;
          height:1080px;
          background-position: center center;
          background-repeat: no-repeat;
          background: #e6ecf0;
          font-family: 'Roboto', sans-serif;
        }
      </style>
</head>
<body>
    <center>
        Sign In

        <form action="/login" method="post">
            <br><label for="usr">SIGN IN WITH ACCOUNT NAME</label>
            <input type="text" name="iusrku" value="">

            <br><br><label for="password">PASSWORD</label>
            <input type="text" name="ipassku" value=""><br><br>

            <button name="signin"action="">Sign In</button>
        </form>




    </center>
</body>
</html>